@import 'tailwindcss';
@import '@nuxt/ui';

* {
	font-family: Poppins;
}

@media (width >= 40rem) { 
	body {
		padding: 5% 0%;
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(235, 235, 235);
}
